<div class='grid gap-5 border-b-2 border-light-palette-p3 last:border-none py-5 first:pt-0 last:pb-0 animate-pulse'>
  <li class= "flex items-center gap-4">
    <div class="p-2.5 rounded-lg border-2 border-light-palette-p3 bg-light-palette-p4">
      <i data-lucide="user-cog" class="w-5 stroke-dark-gray-palette-p3"></i>
    </div>
    <div class="mr-auto flex flex-col gap-3">
      <div class="flex items-center gap-1.5">
        <div class="h-2.5 bg-gray-300 rounded-full dark:bg-gray-600 w-28"></div>
        <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-24"></div>
      </div>
      <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 w-24"></div>
    </div>
    <div class= 'flex items-center h-8 p-1 text-dark-gray-palette-p3 animate-pulse'>
      <i data-lucide="trash-2" height="16"></i>
    </div>
  </li>
</div>
